cryptography==44.0.2
matplotlib==3.10.1
numpy==2.2.5
pandas==2.2.3
py_clob_client==0.20.0
python-dotenv==1.1.0
pytz==2025.2
Requests==2.32.3
scikit_learn==1.6.1
seaborn==0.13.2
setuptools==75.8.0
tqdm==4.67.1
websocket_client==1.8.0
websockets==15.0.1
